body {
    border-style: solid; 
   background-color: lightseagreen
}
h1{
   color: purple
   }
p.one {
   border-style: solid
   border red}

div {
  background-color: lightgrey;
  width: 300;
  border: 15 solid orange;
  padding: 50;
  margin: 20;
}