/* Hoe het menu eruit ziet qua */
.menu ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  background-color: #405360;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color:#8c98a0;
  color: black;
}

/* Achtergrond kleur van pagina zelf */
body {
  background-color: #93c2c2 ;
}

/* Border om stukje tekst (alle pagina's) */
.Informatie h3{
 border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  width: 67%;
}


.binarybonanza {
width: 56%;
}


.Binairstelsel {
width: 40%;
}