body {
   background-color: lightseagreen
}
h1{
   color: purple
   }
ul{
   background-color: purple
   color(srgb blue blue blue)
}
div {
  background-color: lightgrey;
  width: 300;
  border: 15 solid orange;
  padding: 50;
  margin: 20;
}